# -*- coding: utf-8 -*-
#
# Copyright (C) 2021 RSL.
#
# rsl is free software; you can redistribute it and/or modify it under the
# terms of the MIT License; see LICENSE file for more details.

# To update your MANIFEST.in, use the following commands:
#
#  git init  # if not already done
#  git add -A
#  pipenv run check-manifest -u  # to install run "pipenv install --dev"
#  # please sort the lines in this file after running the commands

# Check manifest will not automatically add these two files:

include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include *.yml
include babel.ini
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include Dockerfile.base
include LICENSE
include Pipfile
include Pipfile.lock
include pytest.ini
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include rsl *.config
recursive-include rsl *.less
recursive-include rsl *.overrides
recursive-include rsl *.variables
recursive-include rsl *.gitkeep
recursive-include rsl *.po *.pot *.mo
recursive-include rsl *.json *.html *.js *.scss
recursive-include rsl *.png *.jpg *.svg
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh
recursive-include tests *.py

# added by check-manifest
recursive-include rsl *.jsx
recursive-include vendor *.babelrc
recursive-include vendor *.bat
recursive-include vendor *.bcmap
recursive-include vendor *.css
recursive-include vendor *.csv
recursive-include vendor *.cur
recursive-include vendor *.dockerignore
recursive-include vendor *.editorconfig
recursive-include vendor *.eslintignore
recursive-include vendor *.example
recursive-include vendor *.gif
recursive-include vendor *.html
recursive-include vendor *.in
recursive-include vendor *.ini
recursive-include vendor *.ipynb
recursive-include vendor *.jpeg
recursive-include vendor *.jpg
recursive-include vendor *.js
recursive-include vendor *.json
recursive-include vendor *.less
recursive-include vendor *.mako
recursive-include vendor *.md
recursive-include vendor *.overrides
recursive-include vendor *.patch
recursive-include vendor *.pdf
recursive-include vendor *.plantuml
recursive-include vendor *.png
recursive-include vendor *.po
recursive-include vendor *.pot
recursive-include vendor *.properties
recursive-include vendor *.py
recursive-include vendor *.rst
recursive-include vendor *.scss
recursive-include vendor *.sh
recursive-include vendor *.source
recursive-include vendor *.svg
recursive-include vendor *.txt
recursive-include vendor *.variables
recursive-include vendor *.woff
recursive-include vendor *.woff2
recursive-include vendor *.xml
recursive-include vendor *.xsl
recursive-include vendor *.yml
recursive-include vendor *.zip
recursive-include vendor Makefile
